<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>  Welcome to BDPA 2025   </h1>
    <h2>My name is morgan</h2>
 <p>this page will be an intro to the hscc program
  <h2>Hyperlinks</h2>
  <ul>
<li>BDPA National <a href="http://wwwBDPA.orgL>Link">Link</a></li>
<li>BDPA Milwaukee <a href="http://www.BDPAmke.org">link</a></li>
<li>W3schools <a href="http://www.W3schools.com">Link</a></li>
<li>bdpahistory <a href="/bdpahistory">link</a></li>

    <ul>

  </body>
</html>
